.chart_container{
    width: 85%;
    height: 300px;
    margin: auto;
}

.hourly_forecast{
    width: 70%;
    position: relative;
    border-radius: 6px;
    box-shadow: 10px - 2px 20px 2px rgb(0 0 0 / 30%);
    color: #139eb9;
    background-color: #e5faff;
    margin: 20px auto 0 auto;
    padding: 10px 20px 20px 20px;
    min-width: 250px;
}

/* @media only screen and (max-width: 1050px) {
    .chart_container{
        height: auto;
    }
} */

@media only screen and (max-width: 600px) and (min-width: 401px){
    .hourly_forecast{
        width: 85%;
    }
    .chart_container{
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    .hourly_forecast{
        width: 80%;
    }
    .chart_container{
        height: auto;
    }
}