.container{
  max-width: 1080px;
  margin: 20px auto;
  padding-left: 20px;
  padding-right: 20px;
}

.weather_app-title{
  color: #139eb9;
}

.button-city__container{
  margin-top: 100px;
  text-align: center;
}

.button{
  height: 40px;
  background-color: #139eb9;
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.button:hover{
  background-color: #0d768b;
}

.list-city-follow{
  background-color: #74d3e6;
  padding-top: 1px;
  padding-bottom: 21px;
  border-radius: 30px;
  margin-top: 20px;
  position: relative;
}

.list-city-follow .weather .card-current__title {
  margin-bottom: 10px;
  margin-top: 0px;
}

.list-city-follow .weather {
  padding-bottom: 10px;
}

.list-city-follow .forecast {
  padding-bottom: 10px;
}

.list-city-follow .weather .weather-description{
  margin-bottom: 5px;
}
.delete-image {
  width: 35px;
  position: absolute;
  right: 20px;
  top: 10px;
  cursor: pointer;
}

.header-app__container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-app__container{
  width: 300px;
}

.modal-title{
    text-align: center;
    border-bottom: 1px solid #888282;
    height: 40px;
    margin-bottom: 30px;
}

.button-city{
  width: 80%;
}

.modal-add-city{
  inset: 50% auto auto 50%;
  border-radius: 10px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  outline: none;
  padding: 20px;
  transition: all .3s linear 0.3s;
  box-shadow: 1px 4px 8px 2px rgba(0, 0, 0, 0.2);
}

.content-modal__container{
  position: relative;
}

.description__container{
  position: absolute;
  margin-top: 20px;
}

.description__container p{
  text-align: center;
  font-size: 13px;
  color: #978f8f;
}

@media only screen and (max-width: 600px) and (min-width: 401px){
  .search-app__container{
    width: 54%;
  }
  .modal-add-city{
    width: 300px;
  }
  .container{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .modal-add-city{
    width: 200px;
  }
  .search-app__container{
    width: 54%;
  }
  .container{
    padding-left: 2px;
    padding-right: 2px;
  }
  .modal-title{
    height: 47px;
  }
}